extends layout

block content
	h1 Hello Boulder!

	form(method="post", action="/handleForm")
		input(type="text", name = "username", placeholder="username"
		input(type="text", name="email", placeholder="email"
		input(type="submit", name="submit")





